html {
    background-color: #fa923f;
    padding: 10px;
}

body {
    background-color: yellow;
    padding: 10px;
    margin: 0;

}

header {
    background-color: #3c3c32;
    margin: 10px;
    position: relative;
    top: 80px;
    left: 80px;
}

nav {
    background-color: #3c3c32;
    margin: 10px;
    position: absolute;
}

footer {
    background-color: #3c3c32; 
    margin: 10px;
}